{docker-build {update! #$ ["docker" "build" "." "-t quay.io/parkside-securities/clojure-dev:latest"]}
 docker-push {update! #$ ["docker" "push" "quay.io/parkside-securities/clojure-dev:latest"]}
 docker {depends [docker-push docker-build]}}
